.introWrapper {
    position:relative;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
}

.introContainer {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.introImg {
    width: 100px;
    height: 100px;
    animation: logoAnimation 2.5s forwards;
    z-index: 1001;
}

@keyframes logoAnimation {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(8);
    }
}

/* @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.introWrapper.fade-out {
    animation: fadeOut 1s forwards;
    animation-delay: 1s;
} */
