.introWrapper {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: white; */
    background-color: #f0f0f0;
    z-index: 1002;
}

.introImgWrapper {
    width: 100%;
    height: 100px;
    margin-bottom: 100px;
}

.introImg {
    width: 100%;
    height: 150px;
    opacity: 0;
    transform: scale(0);
    animation: logoAnimation 3.5s forwards;
}

/* .logo {
    width: 100px;
} */

@keyframes logoAnimation {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    /* 20% {
        opacity: 1;
        transform: scale(0.2);
    } */
    60% {
        opacity: 1;
        transform: scale(10);
    }
    100% {
        opacity: 1;
        transform: scale(10);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.introWrapper.fade-out {
    animation: fadeOut 1s forwards;
}
