.floating-nav {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 10px;
    z-index: 1000;
    border-right: 1px solid #333;
    border-image: linear-gradient(to bottom, transparent, #444, transparent) 1 100%;
    margin-right: 10px;
}

.floating-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.floating-nav li {
    margin: 10px 0;
    text-align: right;
}

.floating-nav a {
    text-decoration: none;
    color: #333;
    opacity: 0.6;
    padding: 5px 10px;
    font-size: 16px;
    transition: color 1s;
    font-weight: 500;
}

.floating-nav a:hover {
    color: black;
    opacity: 1;
}

.floating-nav .active {
    opacity: 1;
    color: black;
}

@media screen and (max-width: 600px) {
    .floating-nav {
        display: none;
        right: 10px;
        padding: 10px;
    }
    
    .floating-nav a {
        font-size: 12px;
    }
}